body {
    width: 1500px;
    margin: 0 auto;
    
}

nav {
    margin-top: 20px;
    margin-left: 25%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 600px;
    text-decoration: none;
    height: 50px;
    justify-content: center;
    border-radius: 30px;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    margin-right: 30px;
    font-size: 30px;
    text-decoration: none;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 2s;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    font-size: 40px;
}


#Heroimage {
    background-image: url("heroimage.jpg");
    height: 400px;
    border-radius: 30px;
}

.herotext {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 210px
}

#indexbodytext {
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#IndexMainInfo {
    display: flex;
    flex-direction: row-reverse;
}

#indexquicklinks ul{
    display: flex;
    text-decoration: none;
    flex-direction: row;
}

.quicklinkbutton {
    display: flex;
    margin: 20px 20px 0 0;
    vertical-align: bottom;
    text-align: left;
    background-color: rgb(241, 224, 202);
    width: 250px;
    text-decoration: none;
    justify-content: left;
    border-radius: 10px;
    transition: transform 2s;
}

.quicklinktext {
    width: 200px;
    margin-top: 350px;
    text-decoration: none;
    color: black;
    background-color: rgb(153, 131, 131);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    transition: 2s;

}

.quicklinkbutton:hover {
    text-decoration: underline;
    text-decoration-color: black;
    transform: scale(1.1);
    border-color: black;
}

.quicklinkbutton:hover .quicklinktext {
    margin-top: 300px;
    width: 100%;
}

#quicklinksteps {
    background-image: url(learner.jpg);
    background-repeat: none;
    background-size: cover;
}

#quicklinkscosts {
    background-image: url(1dollarnbill.jpg);
}

#quicklinkroadcode {
    background-image: url(roadcode.jpg);
}

footer {
    margin-top: 30px;
    background-color: rgb(211, 211, 195);
    height: 50px;
    display: flex;
    justify-content: center;
}

.stepstext {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}