body {
    width: 1500px;
    margin: 0 auto;
}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    background-color: bisque;
    width: 1500px;
    text-decoration: none;
    height: 100px;
    justify-content: center;
    border-radius: 30px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    margin-right: 30px;
    font-size: 30px;
    text-decoration: none;
    color: #B28753;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 2s;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    font-size: 40px;
}


#Heroimage {
    background-image: url("heroimage.jpg");
    height: 400px;
    border-radius: 30px;
}

.herotext {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 210px
}

#indexbodytext {
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#IndexMainInfo {
    display: flex;
    flex-direction: row-reverse;
}

#indexquicklinks ul{
    display: flex;
    text-decoration: none;
    flex-direction: row;
}

.quicklinkbutton {
    display: flex;
    margin: 20px 20px 0 0;
    align-items: center;
    background-color: bisque;
    width: 250px;
    text-decoration: none;
    height: 400px;
    justify-content: center;
    border-radius: 10px;
}

.quicklinktext {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.quicklinkbutton:hover {
    text-decoration: underline;
    font-size: 60px;
    text-decoration-color: black;
}